body{
    background-color: rgb(20, 11, 1); /* Sets the background color of the page*/
}

.gradient{
    font-size: 80px; /* sets the font size to 80px for the text with class "gradient" */
    text-align: center; /* centers the text horizontally */
    font-weight: bold; /* makes the text bold */
    background: linear-gradient(#3f2f1e, #84613d); /* Applies a gradient background that transitions from dark brown to lighter brown */
    background-clip: text; /* clips the background so that the gradient only applies to the text */
    color: transparent; /* makes the text color transparent to allow the gradient to show through */
    padding-top: 200px; /* adds 200px of space above the text */
}

.navbar ul{
    list-style-type: none; /* removes the default bullets from the unordered list */
    background-color: #2f2216; /* sets the background color of the navbar */
    padding: 0px; /* removes the default padding from the list */
    margin: 0px; /* removes the default margin from the list */
    margin-left: 400px; /* adds 400px of space to the left side of the navbar */
    margin-right: 400px; /* adds 400px of space to the right side of the navbar */
    overflow: hidden; /* ensures the content inside the navbar doesn't overflow its container */
    display: flex; /* uses Flexbox to arrange the list items horizontally */
    justify-content: center; /* centers the list items horizontally */
    align-items: center; /* aligns the list items vertically */
    border-radius: 100px; /* rounds the corners of the navbar */
}

.navbar a{
    color: #54473a; /* sets the link text color */
    text-decoration: none; /* removes the underline from the links */
    padding: 15px; /* adds 15px of space around each link */
    display: block; /* makes each link a block-level element, so they fill their container */
    text-align: center; /* centers the text within each link */
    font-family: cursive; /* uses a cursive font for the link text */
    font-size: 15px; /* sets the font size to 15px */
}

.navbar a:hover{
    background-color: #2a1c09; /* changes the background color to dark brown when the link is hovered over */
}

.navbar li{
    float: left; /* makes each list item (li) float to the left, so they appear in a horizontal row */
}  