body {
    margin: 0;
    display: flex;               /* make body a flex container */
    justify-content: center;     /* center content horizontally in the body */
    align-items: center;         /* center content vertically in the body */
    height: 100vh;               /*set the body height to 100% of the viewport height */
    background-color: #70aecd;   /* sets background color */
}

figure {
    display: flex;               /* make the figure a flex container */
    flex-direction: column;     /* arrange children (video and caption) vertically */
    align-items: center;        /* center items horizontally within the figure */
    justify-content: center;    /* center items vertically within the figure */
}

video {
    width: 890px;                /* set the width of the video */
    height: 500px;               /* set the height of the video */
}

figcaption {
    font-family: cursive;        /*font for the caption text */
}
