/* set the background color for the entire body of the webpage */
body{
    background-color: #c8baaa;
}


/* style for the main heading (h1) */
h1 {
    font-family:'Brush Script MT', cursive; /* apply a fancy cursive font */
    text-align: center; /* center-align the text */
    color: #643402; /* set the text color*/
    font-size:70px; /* set the font size to 70px */
}

/* style for secondary headings (h2) */
h2{
    font-family: cursive; /* apply a cursive font */
}

 
/* add left margin to elements with the 'margin' class */
.margin{
    margin-left: 10px; /* add a 10px left margin */
}

/* style for elements with the 'fs' class */
.fs{
    font-size: 18px; /* set font size to 18px */
    text-align: center; /* center-align the text */
}

/* navbar styling */
.navbar ul{
    list-style-type: none; /* remove default list bullet points */
    background-color: #463118; /* set navbar background color to dark brown */
    padding: 0px; /* remove padding inside the list */
    margin: 0px; /* remove margin outside the list */
    overflow: hidden; /* prevent elements from overflowing outside the navbar */
}

/* style for links inside the navbar */
.navbar a{
    color: #a19b93; /* set the text color to light gray */
    text-decoration: none; /* remove underlines from links */
    padding: 15px; /* add padding inside the links */
    display: block; /* make the link a block element so it takes up the full width */
    text-align: center; /* center-align the text inside the links */
    font-family: cursive; /* apply a cursive font */
}

/* hover effect for navbar links */
.navbar a:hover{
    background-color: #38260f; /* change the background color when hovering */
}


/*style for list items inside the navbar */
.navbar li{
    float: left; /* make the list items align horizontally */
}


/* smooth scrolling behavior for the page */
html {
    scroll-behavior: smooth; /* enable smooth scrolling for anchor links */
}

/* style for paragraph text */
p{
    font-size: larger; /* increase the font size */
    margin:20px; /* add 20px margin around the paragraphs */
    font-family: cursive; /* apply a cursive font */
}

/* style for ordered lists */
ol{
    font-size: larger; /* increase the font size */
    margin:20px; /* add 20px margin around the ordered lists */
    font-family: cursive; /* apply a cursive font */
}

/* footer styling */
footer{
    background-color: #463118; /* set footer background color */
    color: #a19b93; /* set text color */
    font-size: x-small; /* set font size to extra small */
}

/* style for buttons */
.button{
    background-color: #a19b93; /* set the button's background color */
    color: #3f290b; /* set the text color */
    border-radius: 70px; /* create rounded corners with a large radius */
    font-size: 15px; /* set the font size to 15px */
    padding: 5px; /* add 5px padding inside the button */
    margin:20px; /* asdd 20px margin around the button */
}