/* Set the background color for the entire body of the webpage */
body{
    background-color: #c8baaa;
}


/* Style for the main heading (h1) */
h1 {
    font-family:'Brush Script MT', cursive; /* Apply a fancy cursive font */
    text-align: center; /* Center-align the text */
    color: #643402; /* Set the text color*/
    font-size:70px; /* Set the font size to 70px */
}

/* Style for secondary headings (h2) */
h2{
    font-family: cursive; /* Apply a cursive font */
}

 
/* Add left margin to elements with the 'margin' class */
.margin{
    margin-left: 10px; /* Add a 10px left margin */
}

/* Style for elements with the 'fs' class */
.fs{
    font-size: 18px; /* Set font size to 18px */
    text-align: center; /* Center-align the text */
}

/* Navbar styling */
.navbar ul{
    list-style-type: none; /* Remove default list bullet points */
    background-color: #463118; /* Set navbar background color to dark brown */
    padding: 0px; /* Remove padding inside the list */
    margin: 0px; /* Remove margin outside the list */
    overflow: hidden; /* Prevent elements from overflowing outside the navbar */
}

/* Style for links inside the navbar */
.navbar a{
    color: #a19b93; /* Set the text color to light gray */
    text-decoration: none; /* Remove underlines from links */
    padding: 15px; /* Add padding inside the links */
    display: block; /* Make the link a block element so it takes up the full width */
    text-align: center; /* Center-align the text inside the links */
    font-family: cursive; /* Apply a cursive font */
}

/* Hover effect for navbar links */
.navbar a:hover{
    background-color: #38260f; /* Change the background color when hovering */
}


/* Style for list items inside the navbar */
.navbar li{
    float: left; /* Make the list items align horizontally */
}


/* Smooth scrolling behavior for the page */
html {
    scroll-behavior: smooth; /* Enable smooth scrolling for anchor links */
}

/* Style for paragraph text */
p{
    font-size: larger; /* Increase the font size */
    margin:20px; /* Add 20px margin around the paragraphs */
    font-family: cursive; /* Apply a cursive font */
}

/* Style for ordered lists */
ol{
    font-size: larger; /* Increase the font size */
    margin:20px; /* Add 20px margin around the ordered lists */
    font-family: cursive; /* Apply a cursive font */
}

/* Footer styling */
footer{
    background-color: #463118; /* Set footer background color */
    color: #a19b93; /* Set text color */
    font-size: x-small; /* Set font size to extra small */
}

/* Style for buttons */
.button{
    background-color: #a19b93; /* Set the button's background color */
    color: #3f290b; /* Set the text color */
    border-radius: 70px; /* Create rounded corners with a large radius */
    font-size: 15px; /* Set the font size to 15px */
    padding: 5px; /* Add 5px padding inside the button */
    margin:20px; /* Add 20px margin around the button */
}