
/* sets the background color for the entire webpage */
body{
    background-color: rgb(233, 228, 225);
}

/* styles for <h1> and <h2> headings */
h1,h2{
    color: rgb(62, 47, 36); /* text color */
}


/* styles for <h3> headings */
h3{ 
    color: rgb(180, 160, 146); /*text color */
    background-color: rgb(78, 54, 26) ; /* dark background color for contrast */
}


/* styles for paragraphs */
p{
    margin: 10px /* adds spacing around paragraphs */
}



/* styles for list items */
li{
    margin-top: 20px; /* adds spacing above list items */
    font-weight: bold; /* makes list items bold */
}

/* styles for section elements */
section{
    margin:50px ; /* adds space around sections */
}

